---
layout: default
title: ElKuKu.github.io =;)
---

<div id="home">

    <h1>ElKuKu.github.io =;)</h1>

    <div class="site">
        <ul class="list-unstyled">
            <li><a href="http://elkuku.github.io/EasyCreator/">EasyCreator statistics</a></li>
            <li><a href="http://elkuku.github.io/L0gVi3w">L0gVi3w</a></li>
            <li><a href="http://elkuku.github.io/pear">El KuKu's PEAR channel</a></li>
            <li><a href="http://elkuku.github.io/joomla-platform">Joomla! Platform documentation</a></li>
        </ul>
    </div>

    <h2>Pages</h2>
    <ul class="list-unstyled">
        {% for page in site.pages %}
        <li>
            <a href="{{ page.url }}">{% if page.category %}{{ page.category }}  &raquo; {% endif %}{{ page.title }}</a>
        </li>
        {% endfor %}
    </ul>

    <h2>Blog</h2>
    <ul class="list-unstyled">
        {% for post in site.posts %}
        <li>
            <span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a>
        </li>
        {% endfor %}
    </ul>

<a href="elkuku.pub">elkuku.pub</a>
<a href="elkuku.pgp">elkuku.pgp</a>

</div>
