---
layout: default
title: ElKuKu.github.io =;)
---

<div id="home">

    <h1>ElKuKu.github.io =;)</h1>

    <h2>Pages</h2>
    <ul class="list-unstyled">
        {% for page in site.pages %}
        <li>
            <a href="{{ page.url }}">{% if page.category %}{{ page.category }}  &raquo; {% endif %}{{ page.title }}</a>
        </li>
        {% endfor %}
    </ul>

    <h2>Blog</h2>
    <ul class="list-unstyled">
        {% for post in site.posts %}
        <li>
            <span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a>
        </li>
        {% endfor %}
    </ul>

<a href="elkuku.pub">elkuku.pub</a>
<a href="elkuku.gpg">elkuku.gpg</a>

</div>
